html,body {
  font-family: 'Raleway','Quicksand','Lato', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #000;
  color: #000
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 2.5em; }


img{
    float:left;
    width:auto;
    height:250px;
    margin-right:0px;
}

div {
    height: 200px;
    width: 700px;
    background: black;

    position: fixed;
    top: 45%;
    left: 45%;
    margin-top: -100px;
    margin-left: -200px;
}

#auth{
    color:wheat;
    font-size:1.5em;
    text-align: center;
    
}